.ava {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-left: 30px;
}

.user {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-top: 30px;
    gap: 30px;

}

.avaButton {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userInfo {
    display: flex;
    border: 4px solid dimgray;
    width: 800px;
}
.description {
    display: flex;
    flex-direction: column;
}
.name {
    margin-top: 30px;
    flex: 1;
}
.status {
}
.location {
    margin-left: auto;
    align-self: center;
}
.button {
    background-color: ghostwhite;
    border: 3px solid greenyellow;
    width: 154px;
}
.stylePages{
    display: flex;
    gap: 10px;
}
.stylePages span {
    cursor: pointer;
}
.pageActive {
    font-weight: 700;
}