.Navigation  {
    background-color: rosybrown;
    grid-area: N;
    padding: 20px;
    text-transform: capitalize;
}

.item {
    text-decoration: none;
    color: antiquewhite;
    font-size: 30px;
}
.active {
    color: mediumpurple;
    text-decoration: none;
    font-size: 30px;
}
.friend {

}
.friendName {
    font-size: 30px;

}
.friendList {
    display: inline-flex;
    margin-top: 30px;
    gap: 40px;

}
.friendList img{
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
}
