h1 {
    margin: 20px 0 20px 20px;
    font-weight: 400;
    color: #334444;
    font-size: 70px;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    margin: 10px 0px 0px 100px;
}
